# CakePHP 3

/vendor/*
/config/app.php

/tmp/cache/models/*
!/tmp/cache/models/empty
/tmp/cache/persistent/*
!/tmp/cache/persistent/empty
/tmp/cache/views/*
!/tmp/cache/views/empty
/tmp/sessions/*
!/tmp/sessions/empty
/tmp/tests/*
!/tmp/tests/empty

/logs/*
!/logs/empty

/app_carrinho_compras/vendor/*
/app_etl/vendor/*
/app_poligonos/vendor/*

/app_carrinho_compras/composer.lock
/app_etl/composer.lock
/app_poligonos/composer.lock

.DS_Store
/*/.DS_Store
/*/*/.DS_Store

# CakePHP 2

/app/tmp/*
/app/Config/core.php
/app/Config/database.php
/vendors/*

/app_carrinho_compras/vendors/*
/app_etl/vendors/*
/app_poligonos/vendors/*

